  html, body {
    height: 100%;
    margin: 0;
  }

  body.g-sidenav-show {
    display: flex;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }

  .main-content .container-fluid {
    flex: 1; /* Take remaining space */
  }

  footer.footer {
    margin-top: auto; /* Push footer to bottom */
  }

